<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="butaca">
            <h2><span jhiTranslate="cinemacenterApp.butaca.detail.title">Butaca</span> {{ butaca.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="cinemacenterApp.butaca.fechaVenta">Fecha Venta</span></dt>
                <dd>
                    <span>{{ butaca.fechaVenta }}</span>
                </dd>
                <dt><span jhiTranslate="cinemacenterApp.butaca.fila">Fila</span></dt>
                <dd>
                    <span>{{ butaca.fila }}</span>
                </dd>
                <dt><span jhiTranslate="cinemacenterApp.butaca.asiento">Asiento</span></dt>
                <dd>
                    <span>{{ butaca.asiento }}</span>
                </dd>
                <dt><span jhiTranslate="cinemacenterApp.butaca.estado">Estado</span></dt>
                <dd>
                    <span>{{ butaca.estado }}</span>
                </dd>
                <dt><span jhiTranslate="cinemacenterApp.butaca.proyeccion">Proyeccion</span></dt>
                <dd>
                    <div *ngIf="butaca.proyeccion">
                        <a [routerLink]="['/proyeccion', butaca.proyeccion?.id, 'view']">{{ butaca.proyeccion?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/butaca', butaca.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
