<div>
    <h2 id="page-heading">
        <span jhiTranslate="cinemacenterApp.butaca.home.title">Butacas</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-butaca" [routerLink]="['/butaca/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="cinemacenterApp.butaca.home.createLabel">
            Create a new Butaca
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="butacas?.length === 0">
        <span jhiTranslate="cinemacenterApp.butaca.home.notFound">No butacas found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="butacas && butacas.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="cinemacenterApp.butaca.fechaVenta">Fecha Venta</span></th>
                    <th scope="col" ><span jhiTranslate="cinemacenterApp.butaca.fila">Fila</span></th>
                    <th scope="col" ><span jhiTranslate="cinemacenterApp.butaca.asiento">Asiento</span></th>
                    <th scope="col" ><span jhiTranslate="cinemacenterApp.butaca.estado">Estado</span></th>
                    <th scope="col" ><span jhiTranslate="cinemacenterApp.butaca.proyeccion">Proyeccion</span></th>
                    <th scope="col" ><span jhiTranslate="cinemacenterApp.butaca.sala">Sala</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let butaca of butacas ;trackBy: trackId">
                    <td><a [routerLink]="['/butaca', butaca.id, 'view']">{{ butaca.id }}</a></td>
                    <td>{{ butaca.fechaVenta | date:'mediumDate' }}</td>
                    <td>{{ butaca.fila }}</td>
                    <td>{{ butaca.asiento }}</td>
                    <td>{{ butaca.estado }}</td>
                    <td>
                        <div *ngIf="butaca.proyeccion">
                            <a [routerLink]="['/proyeccion', butaca.proyeccion?.id, 'view']" >{{ butaca.proyeccion?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="butaca.sala">
                            <a [routerLink]="['/sala', butaca.sala?.id, 'view']" >{{ butaca.sala?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/butaca', butaca.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/butaca', butaca.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(butaca)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
