<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-proyeccion-heading" jhiTranslate="cinemacenterApp.proyeccion.home.createOrEditLabel">Create or edit a Proyeccion</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cinemacenterApp.proyeccion.horaProyeccion" for="field_horaProyeccion">Hora Proyeccion</label>
                    <div class="d-flex">
                        <input id="field_horaProyeccion" type="datetime-local" class="form-control" name="horaProyeccion" formControlName="horaProyeccion" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cinemacenterApp.proyeccion.estado" for="field_estado">Estado</label>
                    <input type="checkbox" class="form-control" name="estado" id="field_estado"
                           formControlName="estado"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cinemacenterApp.proyeccion.fechaComienzo" for="field_fechaComienzo">Fecha Comienzo</label>
                    <div class="input-group">
                        <input id="field_fechaComienzo" type="text" class="form-control" name="fechaComienzo" ngbDatepicker #fechaComienzoDp="ngbDatepicker" formControlName="fechaComienzo"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="fechaComienzoDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cinemacenterApp.proyeccion.fechaFinalizacion" for="field_fechaFinalizacion">Fecha Finalizacion</label>
                    <div class="input-group">
                        <input id="field_fechaFinalizacion" type="text" class="form-control" name="fechaFinalizacion" ngbDatepicker #fechaFinalizacionDp="ngbDatepicker" formControlName="fechaFinalizacion"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="fechaFinalizacionDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cinemacenterApp.proyeccion.pelicula" for="field_pelicula">Pelicula</label>
                    <select class="form-control" id="field_pelicula" name="pelicula" formControlName="pelicula">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="peliculaOption.id === editForm.get('pelicula')!.value?.id ? editForm.get('pelicula')!.value : peliculaOption" *ngFor="let peliculaOption of peliculas; trackBy: trackById">{{ peliculaOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cinemacenterApp.proyeccion.sala" for="field_sala">Sala</label>
                    <select class="form-control" id="field_sala" name="sala" formControlName="sala">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="salaOption.id === editForm.get('sala')!.value?.id ? editForm.get('sala')!.value : salaOption" *ngFor="let salaOption of salas; trackBy: trackById">{{ salaOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
